* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background: skyblue;
}
h1 {
    font-size: 36px;
    color: brown;
    font-family: serif;
}
span {
    color: aqua;
    font-family: '微软雅黑 light';
    font-size: 60px;
}
.hello {
    font-family: "宋体";
    font-style: italic;
    font-size: 28px;
    color: teal;
}
.con {
    background-color: indianred;
    font-style: italic;
    font-size: 42px;
}